@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine ai venit! Welcome!</h1>
    <h4>Puteti commanda direct folosind numarul/You can order directly using this number</h4>
    <h2>+40767549111</h2>
</div>
